body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
/* SweetAlert her şeyin üstünde olsun */
.swal2-container {
  z-index: 20000 !important;
}

.swal-popup-top {
  z-index: 20000 !important;
}
